<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details || Employee</title>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="/employees">Homepage</a></li>
            <li> <a href="/create">Add employees</a></li>
        </ul>
    </nav>

    <h1>Detailed Information about this Employee</h1>
    <div>
        <h3><%= employee.name %></h3>
        <h5><%= employee.role %></h5>
        <p><%= employee.age %></p>
        <a class="del" data-item="<%= employee._id %>"><button>Delete</button></a>
    </div>
    <script>
        const trash = document.querySelector('.del')
        console.log(trash);
        trash.addEventListener('click', ()=> {
         const url =`/employees/${trash.dataset.item}`
         fetch(url, {
            method: 'DELETE',
         }).then((response)=> response.json())
         .then((data) => {
          window.location.href = data.redirect;
         }).catch((err) => {console.log(err)});
        });
    </script>
</body>
</html>